<!-- <app-header [headerText]="appText"></app-header>
<!-- <p>{{appText}}</p>
<app-topheader (topHeaderEvent)="parentAppMethod($event)"></app-topheader>
<button type="button" class="btn btn-danger">Danger</button> -->
<!-- <app-templete-refe [Componentref]="ComponentrefComponent"></app-templete-refe> -->

<!-- <app-componentref #ComponentrefComponent></app-componentref> -->
 <!-- <app-ngcontent>
    <h1 #h1>this is from ng content1</h1>
    <h1 #h1>this is from ng content2</h1>
    <h1 #h1>this is from ng content3</h1>
    <h1 #h1>this is from ng content4</h1>
   <app-sibling></app-sibling> 
 </app-ngcontent> -->

 <!-- <div>
  <input type="text" #inputdata (focus)="0"/>
  <button type="button" (click)="onChange1(inputdata)">click me!</button>
 </div>
 <app-ngphases [msg]="appmsg" *ngIf="!toDestroy">
  <p #para>this is paragraph from child component :{{appmsg}}</p>
 </app-ngphases>
 <button (click)="destroy()">show/hide</button> -->

 <!-- <div>
<input type="text" />
<button type="submit" appCutomedirectives>click me</button>

 </div> -->

 <!-- <div >
  <input type="text"  value='hello' [appCutomedirectives]="{setBackgroundColor:'purple',setfont:'gray'}" />
<button type="submit"  [appHostlistnerAndbinding]="!hide">click me</button>
 </div> -->

 <!-- <button  type="submit" [appCustomClassDirective]="{button19:true,button:true}">
  This is cutom Directive class
</button>

<div [appCutomedirectives]="{backgroundColor:'gold',color:'white'}">
  <p>This is cutom Directive styple</p>
</div> -->
<!-- <div [ngSwitch]="tab">
<div *ngSwitchDefault="'info'">
  <h1>first line</h1>
  <p>this is some random text1 info</p>
</div>
<div *ngSwitchCase="'debug'">
  <h1>second line2</h1>
  <p>this is some random text2 debug</p>
</div>
<div *ngSwitchCase="'error'">
  <h1>third line3</h1>
  <p>this is some random text3 error</p>
</div>

</div> -->

<!-- <button type="submit">parent</button>
<br>
<app-sibling></app-sibling>
<br>
<app-componentref></app-componentref> -->

<!-- <button type="submit" (click)="onclicksub()">click</button>
<app-componentref></app-componentref> -->
<!-- <div>
<table>
  <tr>
    <th>Company</th>
    <th>Contact</th>
    <th>Country</th>
  </tr>
  <tr *ngFor="let x of data">
    <td>{{x.company}}</td>
    <td>{{x.contact}}</td>
    <td>{{x.country}}</td>
  </tr>
</table>
<app-componentref></app-componentref>
</div> -->

<!-- <app-observe></app-observe> -->

<app-navheader></app-navheader>
<router-outlet></router-outlet>



