<!-- <app-header [headerText]="appText"></app-header>
<!-- <p>{{appText}}</p>
<app-topheader (topHeaderEvent)="parentAppMethod($event)"></app-topheader>
<button type="button" class="btn btn-danger">Danger</button> -->
<!-- <app-templete-refe [Componentref]="ComponentrefComponent"></app-templete-refe> -->

<!-- <app-componentref #ComponentrefComponent></app-componentref> -->
 <!-- <app-ngcontent>
    <h1 #h1>this is from ng content1</h1>
    <h1 #h1>this is from ng content2</h1>
    <h1 #h1>this is from ng content3</h1>
    <h1 #h1>this is from ng content4</h1>
   <app-sibling></app-sibling> 
 </app-ngcontent> -->

 <!-- <div>
  <input type="text" #inputdata (focus)="0"/>
  <button type="button" (click)="onChange1(inputdata)">click me!</button>
 </div>
 <app-ngphases [msg]="appmsg" *ngIf="!toDestroy">
  <p #para>this is paragraph from child component :{{appmsg}}</p>
 </app-ngphases>
 <button (click)="destroy()">show/hide</button> -->

 <!-- <div>
<input type="text" />
<button type="submit" appCutomedirectives>click me</button>

 </div> -->

 <div >
  <input type="text"  value='hello' [appCutomedirectives]="{setBackgroundColor:'purple',setfont:'gray'}" />
<button type="submit"  >click me</button>
 </div>
