<app-topheader></app-topheader>
<div class="topnav">
  <a class="active" href="#home">Home</a>
  <a href="#product">product</a>
  <a href="#contact">Contact</a>
  <a href="#about">About</a>
</div>
<h1 *ngIf="i.length>100">This is directives</h1>
<!-- <h1 *ngIf="i.length>5">This is directives</h1> -->
<hr>
<ng-template [ngIf]="i.length>5">
  <h1>who!!!</h1>
</ng-template>
<img src="dog.png"/>
<div>
<!-- <button [disabled]="!(inStock>0)"   class="btn btn-primary" >click me!</button> -->
</div>
<div>
  <button (dblclick)="show('This is alert!')">click me!</button>
</div>
<div> 
  Uppercase value is : 
  {{i|uppercase}} 
</div>
<p>this is the current {{birthday|date:'long'|uppercase}}</p>
<div>
<input type="text" placeholder="name" aria-hidden="true"/>
<!-- <p [hidden]="hidedata()">"hi"</p> -->
<h6>{{i|customePipe:"custom pipe"|uppercase}}</h6>


<!-- <ul *ngIf="isVisible">
  <li *ngFor="let x of friendList">
    This is the name{{x.name}} and age {{x.age}}
  </li>
</ul> -->
<li *ngFor="let x of friendList">
  
  <a href="#"> is the name {{x.name}} and age {{x.age}}</a>
</li>

<button (click)="hidedata()">
  Click to Hide List
</button>

<!-- </div>
<div>
<input type="text" [value]="msg" (input)="onInputmsg($event)">  
</div>
<div>
  <p>{{msg}}</p>
</div> -->
<div>
  <input type="text" [value]="msg" [(ngModel)]="msg">  
  </div>
  <div>
    <p>{{msg}}</p>
  </div>
  <button (click)="onIncrease()">+</button>
  <span>{{numberOfItems}}</span>
  <button (click)="onDescrease()">-</button>

</div>
